.parallax-window {
    min-height: 400px;
    background: transparent;
}
p{
    color:white;
}
.content{
    padding: 150px;
}
h1{
    color:white;
}
@media only screen and (max-width: 600px) {
   .content {
        padding:0;
    }
}