<footer class="footer">
    <div class="content has-text-centered">
        <h4 class="_14">Follow us on</h4>
        
      <ul class="social-links">
          <div > 
      <li class="wow fadeInLeft"><a > <i class="fab fa-facebook-f"></i> </a>  </li>
      <li class="wow fadeInUp"><a > <i class="fab fa-twitter"></i> </a>  </li>
      <li class="wow fadeInDown"><a >  <i class="fab fa-google-plus-g"></i> </a>  </li>
      <li class="wow fadeInRight"><a >  <i class="fab fa-linkedin-in fa-linkedin "></i> </a>  </li>
    </div>
      </ul>
         
    </div>
  </footer>