<section class="hero is-success is-fullheight">
  <div class="hero-head">
      <header class="nav">
					<div class="container">
							<nav class="navbar is-primary">
									<div class="container">
									<div class="navbar-brand">
										  <a class="" href="#" style="font-weight:bold;">
										  </a>
										  <span class="navbar-burger burger" data-target="navMenu">
											<span></span>
											<span></span>
											<span></span>
										  </span>
										</div>
									<div id="navMenu" class="navbar-menu">
									<div class="navbar-end">
										<nav>
											<ul>
											<li><a href="#" class="">Home</a></li>
											<li><a href="#" class="">Blog</a></li>
											<li><a href="#" class="">Forum</a></li>
											<li><a href="#" class="">Shop</a></li>
											<li><a href="#" class="	">Examples</a></li>
										</ul>
										</nav>
										  </div>
									</div>
									</div>
									</nav>
						<!-- <div class="nav-right">
								<nav>
									<ul>
										<li><a> Home</a></li>
										<li><a> About</a></li>
										<li><a> Our Menu</a></li>
										<li><a> Contact Us</a></li>
									</ul>
								</nav>
						</div> -->
					</div>
				</header>	
    </div>
    </section>
