<div class="container">
<div class="columns is-multiline">
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card card__one" >
              <div class="card-image">
                      
                  <figure class="image is-3by2">
                    <img src=assets\legumes\carrots.jpg alt="">
                  </figure>
              </div>
             
          </div>
        </div>
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card card__one">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img  src=assets\legumes\pea.jpg  alt="">
                  </figure>
                  
              </div>
          </div>
        </div>  
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card card__one">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img src=assets\legumes\cucumbers.jpg alt="">
                  </figure>
                 
              </div>
          </div>
        </div>
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card card__one">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img src=assets\legumes\pumpkin.jpg alt="">
                  </figure>
                  
              </div>
          </div>
        </div>
        <div class="column is-one-quarter-desktop is-half-tablet">
          <div class="card card__one">
              <div class="card-image">
                  <figure class="image is-3by2">
                    <img src=assets\legumes\tomatoes.jpg alt="">
                  </figure>
              </div>
          </div>
        </div>
      </div>

      <nav class="pagination is-centered" role="navigation" aria-label="pagination">

                <ul class="pagination-list">
                  <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                  </li>
                  <li>
                    <a class="pagination-link" aria-label="Goto page 2">2</a>
                  </li>
                  <li>
                    <a class="pagination-link" aria-label="Goto page 3">3</a>
                  </li>
                </ul>
              </nav>
</div>